<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opera.opera.mapper.OperaAudioCommentMapper">
    <resultMap id="BaseResultMap" type="com.opera.opera.domain.OperaAudioComment">
        <!--@mbg.generated-->
        <!--@Table opera_audio_comment-->
        <id column="comment_id" jdbcType="BIGINT" property="commentId"/>
        <result column="playgoer_id" jdbcType="BIGINT" property="playgoerId"/>
        <result column="comment_info" jdbcType="VARCHAR" property="commentInfo"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        comment_id,
        playgoer_id,
        comment_info,
        is_delete,
        created_at,
        updated_at,
        created_by,
        updated_by
    </sql>

    <select id="selectCommentById" resultType="com.opera.opera.domain.vo.OperaAudioCommentVO">
        SELECT comment_id,
               playgoer.playgoer_id,
               playgoer_name,
               playgoer_avatar,
               comment_info,
               comm.updated_at
        FROM
        playgoer
            INNER JOIN
        (SELECT comment_id,
                playgoer_id,
                comment_info,
                updated_at
         FROM opera_audio_comment
         WHERE audio_id = #{audioId}
            AND is_delete = 0
        limit
        <if test="page != 0">
            #{page},
        </if>
        10
        ) AS comm
        ON comm.playgoer_id = playgoer.playgoer_id
        ORDER BY comm.updated_at DESC
    </select>
</mapper>