<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opera.opera.mapper.OperaAudioCommentMapper">
    <resultMap id="BaseResultMap" type="com.opera.opera.domain.OperaAudioComment">
        <!--@mbg.generated-->
        <!--@Table opera_audio_comment-->
        <id column="comment_id" jdbcType="BIGINT" property="commentId"/>
        <result column="playgoer_id" jdbcType="BIGINT" property="playgoerId"/>
        <result column="comment_info" jdbcType="VARCHAR" property="commentInfo"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        comment_id,
        playgoer_id,
        comment_info,
        is_delete,
        created_at,
        updated_at,
        created_by,
        updated_by
    </sql>

    <select id="selectCommentById" resultType="com.opera.opera.domain.vo.OperaAudioCommentVO">
        SELECT comment_id,
               playgoer.playgoer_id,
               playgoer_name,
               playgoer_avatar,
               comment_info,
               comm.updated_at
        FROM
        playgoer
            INNER JOIN
        (SELECT comment_id,
                playgoer_id,
                comment_info,
                updated_at
         FROM opera_audio_comment
         WHERE audio_id = #{audioId}
           AND is_delete = 0
        limit
        <if test="page != 0">
            #{page},
        </if>
        10
        ) AS comm
        ON comm.playgoer_id = playgoer.playgoer_id
        ORDER BY comm.updated_at DESC
    </select>

    <select id="selectCommentByPlaygoerId" resultType="com.opera.opera.domain.vo.UserAudioCommentVO">
        SELECT com.audio_id,
               com.comment_id,
               com.comment_info,
               com.filename,
               com.updated_at,
               opera_type.type_name
        FROM opera_type
                 INNER JOIN (SELECT oa.audio_id,
                                    type_id,
                                    filename,
                                    comment_id,
                                    comment_info,
                                    oac.updated_at
                             FROM opera_audio AS oa
                                      INNER JOIN (SELECT comment_id, audio_id, comment_info, updated_at
                                                  FROM opera_audio_comment
                                                  WHERE is_delete = 0 AND playgoer_id = #{playgoerId}) AS oac
                                                 ON oa.audio_id = oac.audio_id) AS com
                            ON opera_type.type_id = com.type_id
        ORDER BY com.updated_at DESC
    </select>

    <select id="selectByPageAndParams" resultType="com.opera.opera.domain.vo.OperaAudioCommentVO">
        SELECT com.playgoer_id,
               playgoer_name,
               playgoer_avatar,
               com.audio_id,
               com.filename,
               com.comment_id,
               com.comment_info,
               com.created_at,
               com.updated_at
        FROM playgoer
            INNER JOIN (SELECT oa.audio_id,
                               oa.filename,
                               com.comment_id,
                               com.comment_info,
                               com.playgoer_id,
                               com.created_at,
                               com.updated_at
        FROM opera_audio_comment AS com
            INNER JOIN (SELECT audio_id, filename
                        FROM opera_audio AS oa
                                 INNER JOIN opera_type AS ot ON oa.type_id = ot.type_id
        WHERE oa.is_delete = 0
        <if test="filename != null and filename != ''">
            AND filename LIKE CONCAT('%', #{filename}, '%')
        </if>
        <if test="typeId != null and typeId != ''">
            AND ot.type_id = #{typeId}
        </if>
        ) AS oa ON com.audio_id = oa.audio_id
        WHERE com.is_delete = 0) AS com ON playgoer.playgoer_id = com.playgoer_id
        <if test="playgoerName != null and playgoerName != ''">
            WHERE playgoer_name LIKE CONCAT('%', #{playgoerName}, '%')
        </if>
        ORDER BY com.updated_at DESC
    </select>
</mapper>