<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opera.opera.mapper.OperaAudioMapper">
  <resultMap id="BaseResultMap" type="com.opera.opera.domain.OperaAudio">
    <!--@mbg.generated-->
    <!--@Table opera_audio-->
    <id column="audio_id" jdbcType="BIGINT" property="audioId" />
    <result column="audio_info" jdbcType="VARCHAR" property="audioInfo" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="download_num" jdbcType="INTEGER" property="downloadNum" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="is_examine" jdbcType="INTEGER" property="isExamine" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    audio_id, audio_info, type_id, download_num, filename, is_examine, is_delete, created_at, 
    updated_at, created_by, updated_by
  </sql>

  <select id="selectById" resultType="com.opera.opera.domain.vo.OperaAudioVO">
      SELECT playgoer_name,
             playgoer_info,
             playgoer_headpic,
             audio_id,
             audio_info,
             type_name,
             download_num,
             filename,
             audio.playgoer_id,
             audio.created_at,
             audio.created_by,
             audio.updated_at
      FROM playgoer
               INNER JOIN (SELECT playgoer_id,
                                  audio_id,
                                  audio_info,
                                  type_name,
                                  download_num,
                                  filename,
                                  audio.created_at,
                                  audio.created_by,
                                  audio.updated_at
                           FROM sys_account
                                    INNER JOIN (SELECT audio_id,
                                                       audio_info,
                                                       type_name,
                                                       download_num,
                                                       filename,
                                                       opera_audio.created_at,
                                                       opera_audio.created_by,
                                                       opera_audio.updated_at
                                                FROM opera_audio
                                                         INNER JOIN opera_type ON opera_audio.type_id = opera_type.type_id
                                                WHERE audio_id = #{audioId}) AS audio
                                               ON sys_account.account_id = audio.created_by) AS audio
                          ON playgoer.playgoer_id = audio.playgoer_id
  </select>
</mapper>